/* Cards */
.card-box { 
  width: 23%;
  margin: 1%;
}

.card .title,
.card .stats,
.card .category,
.card .description,
.card .social-line,
.card .actions,
.card .content,
.card .footer,
.card small,
.card a {
  position: relative;
  z-index: 3;
}

.card {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.23);
  background-color: #FFFFFF;
  margin-bottom: 20px;
  position: relative;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;


  .content {
    width: 100%;
    bottom: 0;
    padding: 0px 15px 5px 15px;
    position: absolute;

    .filter {
      position: absolute;
      z-index: 2;
      background-color: rgba(0, 0, 0, 0.76);
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      text-align: center;
      opacity: .75;
      filter: alpha(opacity=75);
    }

    .title {
      color: white;
      margin: 10px 0 20px 0;
    }
  
  }
  

  .header {
    padding: 2%;
    position: relative;
    border-radius: 6px 6px 0 0;
    z-index: 3;
  }

  .label{
    font-weight: 400;
    font-size: 0.75em;
    text-shadow: 0px 2px 0px rgba(21, 17, 17, 0.4);
    margin-bottom: 0px;
    color: white;
    float: right;
    font-family: "Bungee", cursive;
  }

  .title {
    color: #333333;
    margin: 0;
    padding: 30px 0 0;
  }
}


/* Labels */
.label.label-golang {
  background: rgba(5, 163, 255, 0.7);
  border-radius: 3px;
  padding: 5px;
}

.label.label-books {
  background: rgba(0, 0, 0, 0.7);
  border-radius: 3px;
  padding: 5px;
}

.label.label-sql {
  background: rgba(255, 5, 5, 0.7);
  border-radius: 3px;
  padding: 5px;
}

.label.label-javascript {
  background: rgb(221, 170, 2);
  border-radius: 3px;
  padding: 5px;
}

.label.label-linux {
  background: rgba(0, 170, 51, 0.7);
  border-radius: 3px;
  padding: 5px;
}

.label.label-scraping {
  background: rgba(0, 0, 0, 0.7);
  border-radius: 3px;
  padding: 5px;
}

.label.label-webdev {
  background: rgba(0, 160, 152, 0.7);
  border-radius: 3px;
  padding: 5px;
}

/* Media Queries */
@media (max-width: 767px) {

  .post-list {
    flex-direction: column;
  }
  .card-box {
    width: 100%;
  }

}